@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Kablammo&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,400;0,700;1,700&display=swap');
*{
  font-family: Montserrat;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav{
  background: #1C1C1C;
  width: 100%;
  display: flex;
  justify-content:space-between;
  color: white;
  padding:7px 150px;
  position: fixed;
  overflow: hidden;
  z-index: 1;

  img{
    margin-right: 50px;
  }
  
  .options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .animation{
      display: inline-block;
      position: relative;
      color: #E27866;

      &::after{
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        top: 42px;
        left: 0;
        background-color: #E27866;
        transform-origin: bottom left;
        transition: transform 0.3s ease-in-out;
        
        
      }
      &:hover::after{
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }

    a{
      text-decoration: none;
      font-size: 14px;
      transition: 0.4s;

      &:active{
        color: white;
      }
      &:visited{
        color: white;
      }
    }
  }
    

}
.city-background{
  background-image: linear-gradient(#1c1c1cb2), url(../images/img-1.png);
  width: 100%;
  height: 638px;
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  // display: flex;
  
  .hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 134px;
    gap: 60px;
    margin-left: 20px;
  
    .left{
      img{
        margin-bottom: 20px;
      }
      h1{
        margin-bottom: 20px;
        color: white;
      }
      p{
        margin-bottom: 20px ;
      }
      button{
        border: none;
        padding: 10px 20px;
        background: transparent;
        color: white;
        border: 3px solid white ;
        margin-top: 20px;
        transition: 0.4s;
        &:hover{
          cursor: pointer;
          background: white;
          color: black;
          border: 3px solid black;
          font-weight: 600;
        }
      }
      p{
        font-size: 16px;
        color: white;
      }
    }
    .right-signup-card{
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 5px;
     
      .signup-card-inside{
        
          .trial{
            font-size: 20px;
            background: #F5F5F5;
            padding: 16.5px 50px;
         

            p{
              font-weight: bold;
              white-space: nowrap;

              span{
                color:#d34e34 ;
                font-weight:bold;
              }
            }
        }
        .information{
          padding: 35px 51px;
          display: flex;
          flex-direction: column;
          gap: 20px;

            .details{
              font-size: 16px;
            }

            .inputs{
              gap: 30px;
              display: flex;
              flex-direction: column;
              
              input{
              border: none;
              border-bottom: #D8D8D8 solid 1px;

                &::placeholder{
                  color: #D8D8D8;
                }
              }
            }
            .subscription{
              display: flex;
              flex-direction: column;
              gap: 20px;

              .subscription-options{
                font-size: 9px;
                display: flex;
                gap: 20px;
              }
            }
          }
        
        button{
          width: 100%;
          padding: 17.5px;
          background: #41D395;
          border: none;
          border-radius: 0 0 5px 5px;
          transition: 0.4s;
          &:hover{
            cursor: pointer;
            background:#36aa7a;
          }
          b{
            color: white;
            font-size: 18px;
          }
        }
      }
    }
  }

}
.media-bar{
  background: #00000009;
  padding: 20px 151px;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 100px;
  

  .media-about{
    display: flex;
    flex-direction: column;
    gap: 10px;
    p{
      color:#86878B;
    }
  }
  .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;

    a{
      border: none;
      background: transparent;
      transition: 0.3s;
      border-radius: 20px;

      &:hover{
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
}
.mountains-background{
  background-image: linear-gradient(to bottom,rgba(226, 120, 102, 0.20), rgba(102, 150, 226, 0.20)),url(../images/mountains.png);
  width: 100%;
  // height: 600px;
  background-position:50% 77%;
  background-size:cover;

  .features-panel-1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 105px 125px;
    gap: 76px;

    .left-info{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 54px;

      .sign-up-buttons{
        display: flex;
        flex-direction: column;
        gap: 20px;
        

        button{
          width: 100px;
          height: 100px;
          border: none;
          background-color: #A37169;

          &:hover{
            cursor: pointer;

          }

          p{
            color: white;
            transform: rotate(-45deg);
          }
          

        }
      }
      .left-info-text{
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1{
          font-size: 36px;
        }
        p{
          font-size: 14px;
          text-align: justify;
        }
      }
    }
    .right-images{
      display: flex;
      flex-direction: column;
      .top-images{
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
.black-background{
  background: #1C1C1C;

  .features-panel-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    // gap: 167px;
    padding:90px 100px;
    gap: 168px;

    img{
      width: 388.58px;
      height: 169.47px;
    }
  
    .features-panel-2-right{
      display: flex;
      flex-direction: column;
      gap: 43px;
      color: white;
      padding: 0px 100px;

      .text-with-divider{
        display: flex;
        flex-direction: column;

        h1{
          padding-right: 100px;
          font-size: 30px;
        }
       
        hr{

          margin: 27px 0;
          width: 200px;
          border:1px solid #E27866 ;

        }
        p{
          text-align:left;
          font-size: 14px;
        }
      }
      .right-bottom{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 36px;
        font-size: 14px;

        .eye{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;

          i{
            
            display: inline-block;
            border-radius: 60px;
            background: #E27866;
            box-shadow: 0 0 2px #888;
            padding: 0.75em 0.6em;
         
          }

          .eye-text{
            display: flex;
            flex-direction: column;
            gap: 6px;
          }
        }
        .chat{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;

          i{
            display: inline-block;
            border-radius: 60px;
            background: #E27866;
            box-shadow: 0 0 2px #888;
            padding: 1em 1em;
          }
          .chat-text{
            display: flex;
            flex-direction: column;
            gap: 6px;
          }
        }
      }
    }
  }

  
}
.white-background{

  .our-process-panel{
    margin: 100px 0 122px 0;
    display: flex;
    flex-direction: column;
    gap: 65px;

    .awesome{
      display: flex;
      flex-direction: column;
      align-items: center;

      h1{
        font-size: 36px;
        font-weight: 600;
      }
      p{
        font-size: 14px;
      }
      img{
        margin: 20px 0;
      }
    }
    .three-icons{
      display: flex;
      justify-content: center;
      align-items: first baseline;
      gap: 100px;
      

      .ribbon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 24.8%;
        h1{
          font-size: 20px;
          text-align: center;
          font-weight: 400;
        }
        p{
          font-size: 14px;
          text-align: center;
          width: 83%;
          color: #86878B;
        }
        i{
          border: 1px solid #E27866;
          border-radius: 50px;
          padding: 15px;
        }
      }
      .flower{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 24.8%;
        
        h1{
          font-size: 20px;
          text-align: center;
          font-weight: 400;
        }

        p{
          font-size: 14px;
          text-align: center;
          width: 70%;
          color: #86878B;
        }
        i{
          border: 1px solid #E27866;
          border-radius: 50px;
          padding: 15px 11px;
        }

      }

      .visa{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 24.8%;

        h1{
          font-size: 20px;
          text-align: center;
          font-weight: 400;
        }
        p{
          font-size: 14px;
          text-align: center;
          width: 80%;
          color: #86878B;
        }
        i{
          border: 1px solid #E27866;
          border-radius: 50px;
          padding: 15px 12px;
          // margin-top: -20px;
        }
      }
    }
  }
}
.blue-background{
  background: #6696E2;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 85px;
  
  
  .top-text{
    margin-top:100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    h1{
      font-size: 36px;
      font-weight: 600;
    }
    p{
      font-size: 14px;
      font-weight: 300;
    }
    img{
      margin: 20px 0 25px 0;
      height: 2px;
    }
  }
  .subscription-card-panel{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
    margin-bottom: 100px;

    .basic{
      display: flex;
      flex-direction: column;
      
      

      .basic-price{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #333333;
        border-bottom: 6px solid #41D395;
        border-radius:5px 5px 0 0;
        padding: 20px 130px;

        h1{
          font-size: 20px;
          font-weight:300 ;
        }

        p{
          font-size:94px ;
          span{
            font-size:30px ;
          }
        }
        p:nth-of-type(2){
          font-size:14px ;
          opacity: 50%;
        }
      }
      .basic-features{
        background: white;
        color: #86878B;
        line-height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 5px 5px;
        p{
          font-size: 14px;
        }

      }
    }
    .professional{
      display: flex;
      flex-direction: column;

      .professional-price{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #333333;
        padding: 0 110px;
        border-radius: 5px 5px 0 0 ;

        h1{
          font-size: 20px;
          // line-height: 60px;
          margin-top: 14px;
          margin-bottom: 13px;
          font-weight: 400;
        }

        p:nth-of-type(1){
          font-size: 94px;
          span{
            font-size: 30px;
          }
        }

        p:nth-of-type(2){
          font-size: 14px;
          opacity: 50%;
          // line-height: 40px;
          margin-bottom: 20px;
        }
      }

      .popular{
        background:#41D395;
        line-height:40px;
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
          font-size:14px ;
          font-weight: 400;
        }
      }
      .professional-features{
        display: flex;
        flex-direction: column;
        color:#86878B ;
        background: white;
        line-height: 40px;
        align-items: center;
        border-radius: 0 0 5px 5px;

        p{
          font-size: 14px;
        }

      }
      
    }
    .enterprise{
      display: flex;
      flex-direction: column;
      
      

      .enterprise-price{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #333333;
        border-bottom: 6px solid #41D395;
        border-radius:5px 5px 0 0;
        padding: 20px 105px;
        h1{
          font-size: 20px;
          font-weight:300 ;

        }
        p{
          font-size:94px ;

          span{
            font-size:30px ;
          }
        }
        p:nth-of-type(2){
          font-size:14px ;
          opacity: 50%;
        }
      }
      .enterprise-features{
        background: white;
        color: #86878B;
        line-height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 5px 5px;

        p{
          font-size: 14px;
        }
      }
    }
  }
}
.testimonial-panel{
  display: flex;
  flex-direction: column;

  .top-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

    hr{
      width: 65px;
      color:#6696E2 ;
      background: #6696E2;
      border: #6696E2 solid 1px;
      margin-top: 25px;
    }
  }
  .testimonial-messages{
    display: flex;
    gap: 119px;
    align-items: flex-end;
    padding: 50px 175px;

    .testimonial{
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      gap: 20px;


      .testimonial-text{
        background:#6696E2;
        color: white;
        border-radius: 10px;
        padding: 20px 20px;
        
        p{
          font-size: 16px;
        }

        &::after{
          content: "";
          position: relative;
          left: 1%;
          top: 50px;
          border: 12px solid transparent;
          border-top: 12px solid #6696E2;
        }
      }
      
      .profile{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 17px;

        .name{
          display: flex;
          flex-direction: column;
          gap: 5px;
          h1{
            font-size: 20px;
            font-weight: 500;
            
          }
          p{
            font-size: 14px;
            color: #86878B;
            
          }
        }
      }
    }
  }
  .bubbles{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 66px;
    margin-bottom: 56px;

    .circle{
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: white;
      display: inline-block;
      border: 2px solid #E27866;
    }
    .filled{
      background-color: #E27866;
    }
  }
}
.orange-background{
  display: flex;
  flex-direction: column;
  background: #E27866;
  color: white;
  align-items: center;

  .top-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 70px;
    margin-bottom: 27px;
  }
  .right-signup-card{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    width: 400px;
    margin-bottom:50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
   
    .signup-card-inside{

      .information{
        padding: 35px 51px;
        display: flex;
        flex-direction: column;

          .details{
            font-size: 16px;
          }

          .inputs{
            gap: 30px;
            display: flex;
            flex-direction: column;
            
            input{
            border: none;
            border-bottom: #1C1C1C solid 1px;

              &::placeholder{
                color: #D8D8D8;
              }
            }
          }
          .subscription{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .subscription-options{
              font-size: 9px;
              display: flex;
              gap: 20px;
              margin-top: 35px;

              label{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                b{
                  color: black;
                }
              }
            }
          }
        }
      .button-div{
        display: flex;
        align-items: center;
        justify-content: center;

        button{
          padding: 17.5px;
          background: #41D395;
          border: none;
          border-radius: 5px;
          padding:12px 50px;
          margin-bottom: 35px;
          &:hover{
            cursor: pointer;
          }
          b{
            color: white;
            font-size: 18px;
            font-weight: 500;
          }
        } 
      }
      
    }
  }
}
footer{
  display: flex;
  justify-content: space-between;
  background: #333333;
  padding: 50px 0;

  .logos{
    display: flex;
    gap: 100px;
    margin: 0 140px;
    button{
      background: transparent;
      border: none;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .trademark{
    margin: 0 140px;
    color:white;
    opacity: 50%;

    h1{
      font-size: 18px;
      font-weight: 400;
    }

  }
}
